server {
        listen 80;
        listen [::]:80;
        server_name          {{ domain }} www.{{ domain }}.ru;
        root /var/www/{{ domain }}/html;
        index index.html index.htm index.nginx-debian.html;
}